html,
body {
    margin: 0px;
    padding: 1.8em;
    background-color: bisque;
}

body * {
    width: fit-content;
}

ol#response-field li:nth-child(1) {
    background-color: coral;
    /* font-size: 150%; */
}

ol#response-field li:nth-child(1) span {
    /* background-color: coral; */
    font-size: 150%;
}

ol#response-field li code {
    display: inline-block;
    width: 6ch;
    text-align: right;
}
