<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HealthyEat</title>
    <link rel="stylesheet" href="assets/style.css">
    <style id="style2"></style>
</head>

<body>
    <h1>HealthyEat</h1>
    <form action="/predict" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Submit">
    </form>

    {% if response_top is defined and response_other is defined %}
    <h1>
        I am {{ "{:.2%}".format(response_top[1]) }} confident that that is an image of {{ response_top[0] }}
    </h1>

    <hr>

    <h2>Other less confident predictions...</h2>
    <ol>
        {% for k, v in response_other %}
        <li>
            <code>{{ '{:.2%}'.format(v) }}</code>
            <span>{{k}}</span>
        </li>
        {% endfor %}
    </ol>
    {% endif %}
</body>

</html>
