<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HealthyEat</title>
    <link rel="stylesheet" href="assets/style.css">
</head>

<body>
    <h1 id="header">HealthyEat</h1>
    <form id="inputForm" action="/predict" method="post" enctype="multipart/form-data">
        <input id="inputFile" type="file" name="file">
        <input id="inputSubmit" type="submit" value="Submit">
    </form>

    {% if image is defined or response_top is defined %}
    <hr>
    {% endif %}

    {% if image is defined %}
    <img src="{{ image }}" alt="" id="imagePreview">
    {% endif %}

    {% if response_top is defined %}
    <h1 id="mainResponse">
        I am {{ "{:.2%}".format(response_top[1]) }} confident that that is an image of {{ response_top[0] }}
    </h1>
    {% endif %}

    {% if response_other is defined %}
    <hr class="separator">

    <h2>Other less confident predictions...</h2>
    <ol id="responses" start="2">
        {% for k, v in response_other %}
        <li class="response">
            <code class="responsesPercentage">{{ '{:.2%}'.format(v) }}</code>
            <span class="responsesLabel">{{k}}</span>
        </li>
        {% endfor %}
    </ol>
    {% endif %}
</body>

</html>
